body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  color: #fff;
  background-color: #596aca;
  border-color: #0d6efd;
}

h1 {
  color: #596aca;
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 20px;
  padding-bottom: 0;
  color: #878787;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
}

.weather-temperature strong {
  color: #596aca;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
a {
  text-decoration-line: none;
}

.col-2 {
  flex: 0 0 auto;
  width: 20%;
}
.card-text-day {
  font-size: 20px;
  text-align: center;
}
.card-header {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 2px;
  background-color: #596aca;
  border: 2px solid #596aca;
  text-align: center;
  margin: 0 auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-body {
  background-color: #6daeeb;
  color: white;
  padding: 1rem 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.col-6 {
  padding: 0 0;
}
